body {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
a {
  text-decoration: none;
  color: #1a7ef4;
}

.main {
  width: 100vw;
  margin-top: 10%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.main .h1 {
  width: 200px;
}
